@{
	ViewBag . Title = "Home Page" ;
}

<div class="jumbotron">
	<h1>Richman4L</h1>
	<p class="lead">Richman4L is a small game similar to Richman4Fun.</p>
	<p>
		<a href="@( Url . Action ( "Download" ) )" class="btn btn-primary btn-lg">Download &raquo;</a>
	</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Develop with us</h2>
		<p>
			Like this project? Want to help this project better? No more wait!
		</p>
		<p>
			<a class="btn btn-default" href="https://github.com/Infinicken/Richman4L">Github Repo &raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Richman4L as Library</h2>
		<p>
			Richman4L is also a lib that can help you to build more richman game.
			You can easily crate a game run on every where.
		</p>
		<p>
			<a class="btn btn-default" href="@( Url . Action ( "Download" ) )">Download &raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Want something else?</h2>
		<p>
			Just send me an email!
		</p>
		<p>
			<a class="btn btn-default" href="@( Url . Action ( "Contact" ) )">Contact &raquo;</a>
		</p>
	</div>
</div>